.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: #222;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: white;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

.CodeMirror-dialog input {
    font-family: Consolas, Monospace;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    
    display: inline-block;
    height: 16px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: white;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    border: none;
    
    background: transparent;
    position: relative;
    top: -2px;
}

.CodeMirror-dialog input:focus {
    background: transparent;
    border: none;
    outline: none;
    
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
